absl-py
anyio
asgiref
astunparse
cachetools
cairocffi
CairoSVG
certifi
cffi
charset-normalizer
clang
click
cssselect2
cycler
defusedxml
fastapi
filelock
flatbuffers
gast
google-auth
google-auth-oauthlib
google-pasta
grpcio
h11
h5py
html5lib
huggingface-hub
idna
importlib-metadata
jarowinkler
keras
Keras-Preprocessing
kiwisolver
libclang
Markdown
matplotlib
mplcursors
numpy
oauthlib
opencv-python
opt-einsum
packaging
Pillow
protobuf
pyasn1
pyasn1-modules
pyclipper
pycparser
pydantic
pyparsing
pypdfium2
pyphen
python-dateutil
python-doctr
python-multipart
PyYAML
rapidfuzz
requests
requests-oauthlib
rsa
scipy
Shapely
six
sniffio
starlette
tf2onnx
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow
tensorflow-gpu
tensorflow-estimator
tensorflow-addons
tensorflow-estimator
tensorflow-io-gcs-filesystem
termcolor
tf-estimator-nightly
tinycss2
tqdm
typeguard
typing-extensions
Unidecode
urllib3
uvicorn
WeasyPrint
webencodings
Werkzeug
wrapt
zipp
